* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --view-height: 100vh;
  --header-height: 6rem;
  --footer-height: 6rem;
  --primary-font: 'Nunito Sans', sans-serif;
}

/* theme */

#light {
  --primary-color: #F1F6F9;
  --secondary-color: rgb(23, 25, 32);
  --hover-color: #537FE7;
}

#dark {
  --primary-color: #16181b;
  --secondary-color: #F5F5F5;
  --hover-color: #665bcf;
}

body{
  font-family: var(--primary-font);
  overflow-x: hidden;
  }

/* Header */

.header{
  height: var(--header-height);
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

#dark .header {
  height: var(--header-height);
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

nav .active{
  color: var(--hover-color);
}

.header button {
  background-color: var(--hover-color);
  color: white;
}

/* Filter */

.filter-btn {
  padding: 0.5rem 0.75rem;
  margin: 0.5rem;
  font-size: 0.9rem;
  font-weight: 800;
  letter-spacing: 0.05rem;
  background-color: var(--hover-color);
  color: var(--primary-color);
  border-radius: 2rem;
}


/* Country Cards */

.country-link span{
  color: transparent;
}

.country-link :hover{
  color: #4b5158;
}

.country-link :hover span {
  color: var(--hover-color);
}

#dark .Country-card{
  background-color: #1f2225;
}

#light .Country-card{
  background-color: whitesmoke;
}

/* SingleCountry Card */




/* Footer */

#light .footer {
  height: var(--footer-height);
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

#dark .footer {
  height: var(--footer-height);
  background-color: #161A30;
  color: var(--secondary-color);
}

.footer p a{
  color: var(--hover-color);
}



/* Home & About */

.countries,
.about,
.singleCountry,
.content {
  min-height: calc(var(--view-height) - (var(--header-height) + var(--footer-height)));
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

/* form */

form{
  border-color: var(--secondary-color);
}

input{
  background-color: transparent;
}

form button {
  border-left-color: var(--secondary-color);
}
